Debug/
Release/
*.suo
*.sdf
*.opensdf
*.orig
*.vcxproj.user
docs/
.vs/
*.VC.db
*.aps

# cmkr
build*/
cmake-build*/
CMakerLists.txt
CMakeLists.txt.user
CMakeUserPresets.json
ci_logs/

GLEAM_ATOMIC_FEATURE_GAPS.md
GLEAM_CODE_REVIEW.md
PROGRESS.md
PROJECT.md